* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: url("background2.jpg");
  background-size: cover;
}

.container {
  background-color: rgba(76, 69, 19, 0.762);
  width: 500px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.input-container {
  background-color: rgba(28, 48, 16, 0.606);
  margin: 10px auto;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
}

h2 {
  color: white;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

input {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 24px;
  letter-spacing: 4px;
  color: wheat;
}

input::placeholder {
  letter-spacing: 0;
}

.fa-copy {
  cursor: pointer;
  opacity: 0.3;
  color: wheat;
}

.fa-copy:hover {
  opacity: 0.7;
}

.btn {
  background-color: rgb(255, 218, 82);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px 0;
  font-size: 22px;
}

.btn:hover {
  background-color: rgb(205, 168, 37);
}

.btn:active {
  transform: scale(0.95);
}

.alert-container {
  position: fixed;
  width: 300px;
  height: 50px;
  background-color: rgb(255, 218, 82);
  right: 20px;
  bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.active.alert-container {
  right: -300px;
}
